<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {title: 'Listado de Películas'}) %>

<body>
    <%- include('partials/header') %>
    <main>
        <figure>
            <img src="/img/logo-DH.png" alt="Logo Digital House">
        </figure>
        <h1>LISTADO DE PELÍCULAS</h1>
        <br>
        <p>
            <a class="botonAgregar" href="/movies/add">Agregar una Pelicula</a>
            <a class="botonVolver" href="/">inicio</a>
        
        </p>
        <br>
        <div class="buscar-titulo">
            <form action="/movies/buscar" method="POST" id="buscar">
                <input type="text" name="titulo" id="titulo">
                <button class="boton-buscar" type="submit">Buscar una Pelicula</button>
            </form>
            
        </div>
        <ul>
            <% for( let i = 0; i < movies.length; i++ ) { %>
            <li>
                <a href="/movies/detail/<%= movies[i].id %>"><%= movies[i].title %></a>
            </li><br>
            <% } %>
        
        </ul>
    </main>
    <%- include('partials/scripts') %>
</body>

</html>